<!-- start of LOGO CONTAINER -->
<div id="logo-container">
  <a href="#" id="logo-img">
    <!--img src="/src/img/logo.png" class="big-logo" alt="SugarCrush">
    <img src="/src/img/logo-mobile.png" data-no-retina  class="small-logo" alt="SugarCrush"-->
  </a>
</div>
<!-- end of LOGO CONTAINER -->

<!-- - - - - - - - - - - - - -->
<!-- start of SIDEBAR        -->
<!-- - - - - - - - - - - - - -->
<div id="sidebar">
  <div class="sidebar_scroll"> <!-- start of slimScroll -->



    <ul class="nav lg-menu" id="main-nav">
      <li class="sidebar-title">
        <h5 class="text-center margin-bottom-30 margin-top-15">MENU</h5>
      </li>

      <li><a ng-show="esSecretaria" href="/#!/crear-expediente"> <i class="ti-layout-cta-left"></i> <span>Crear Expedientes</span> <i class="pull-right has-submenu"></i></a>

      <li><a> <i class="ti-email"></i> <span>Bandeja de Expedientes</span> <i class="pull-right has-submenu ti-angle-right"></i></a>
        <ul class="nav nav-submenu submenu-hidden">
          <li><a href="#" >Bandeja de Entrada</a></li>
          <li><a href="#" >Bandeja de Transferidos</a></li>
          <li><a ng-show="esDirector" href="#" >Bandeja de Finalizados</a></li>
        </ul>
      </li>

      <li><a href="#"> <i class="ti-package"></i> <span>Tareas con expedientes</span> <i class="pull-right has-submenu ti-angle-right"></i></a>
        <ul class="nav nav-submenu submenu-hidden">
          <li><a href="/#!/consulta" >Consultar estado</a></li>
        </ul>
      </li>


      <li><a ng-show="esDirector" href="#"> <i class="ti-bar-chart"></i> <span>Reportes</span> <i class="pull-right has-submenu"></i></a>


    </ul>

  </div> <!-- end of slimScroll -->
</div>
<!-- - - - - - - - - - - - - -->
<!-- end of SIDEBAR          -->
<!-- - - - - - - - - - - - - -->
<script src="/src/js/sidebar.js"></script>
