<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>
    <!-- - - - - - - - - - - - - -->
    <!-- start of TOP NAVIGATION -->
    <!-- - - - - - - - - - - - - -->
    </nav>

    <!-- - - - - - - - - - - - - -->
    <!-- end of TOP NAVIGATION   -->
    <!-- - - - - - - - - - - - - -->


    <!-- PAGE TITLE -->
    <section id="page-title" class="row"style="padding:0 15px">

      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <span ng-click = "busqueda()" class="input-group-addon"><a class="ti-search"></a></span>
            <input ng-model="id_expediente" type="number" class="form-control" id="exampleInputEmai">
          </div>
        </div>
      </div>
    </section> <!-- / PAGE TITLE -->

    <div class="container-fluid">
      <div class="panel-body" style="top:-150px">
        <h1>Estados</h1>
        <!-- <p class="lead">Need your user to notice something? This is the way to do it</p> -->
        <section class="panel">
          <div class="panel-body">
              <ul class="nav nav-pills nav-justified">
                <li class="{{estados(0)}}" > <a>En Espera</a> </li>
                <li class="{{estados(1)}}"> <a>En Proceso</a> </li>
                <li class="{{estados(2)}}"> <a>Finalizado</a> </li>
              </ul>
          </div>
        </section>

      <div class="row">

        <div class="col-md-12">

          <section class="panel">
            <header class="panel-heading">
              <!-- <h4 class="panel-title">Bootstrap Notify</h4> -->
            </header>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-info"style="width:165px">Tipo: </a>
              <a  class="panel" > {{tipo}} </a>
            </div>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-info"style="width:165px">Remitente: </a>
              <a  class="panel">{{remitente}}</a>
            </div>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-info" style="width:165px">Fecha de Ingreso: </a>
              <a  class="panel">{{fecha_ing}}</a>
            </div>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-info"style="width:165px">Firma: </a>
              <a  class="panel">{{firma}}</a>
            </div>
          </section> <!-- / section -->


        </div> <!-- / col-md-12 -->

      </div> <!-- / row -->

    </div> <!-- / container-fluid -->

  <cm-footer></cm-footer>
</main>
<cm-scrolltop></cm-scrolltop>
