<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>
    <!-- - - - - - - - - - - - - -->
    <!-- start of TOP NAVIGATION -->
    <!-- - - - - - - - - - - - - -->
    </nav>

    <!-- - - - - - - - - - - - - -->
    <!-- end of TOP NAVIGATION   -->
    <!-- - - - - - - - - - - - - -->


    <!-- PAGE TITLE -->
    <section id="page-title" class="row"style="padding:0 15px">

      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><a class="ti-search" href="#"></a></span>
            <input type="url" class="form-control" id="exampleInputEmail1">
          </div>
        </div>
      </div>






      <!--div class="col-md-4">

        <ol class="breadcrumb pull-right no-margin-bottom">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">UI / UX</a></li>
          <li class="active">Alerts</li>
        </ol>

      </div-->
    </section> <!-- / PAGE TITLE -->

    <div class="container-fluid">
      <div class="panel-body" style="top:-150px">
        <h1>Estados</h1>
        <!-- <p class="lead">Need your user to notice something? This is the way to do it</p> -->
        <section class="panel">
          <div class="panel-body">
            <p>

              <a  target="_blank" class="btn btn-primary btn-sm">Estado 1</a>
              <a  target="_blank" class="btn btn-primary btn-sm">Estado 2</a>
              <a  target="_blank" class="btn btn-default btm-sm">Estado 3</a>
              <a  target="_blank" class="btn btn-primary btn-sm">Estado 4</a>
            </p>

          </div>
        </section>

      <div class="row">

        <div class="col-md-12">

          <section class="panel">
            <header class="panel-heading">
              <!-- <h4 class="panel-title">Bootstrap Notify</h4> -->
            </header>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-default btm-sm"style="width:165px">Tipo: </a>
              <a href="#" class="btn btn-success alert-demo-4">Tipo de Expediente </a>
            </div>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-default btm-sm"style="width:165px">Remitente: </a>
              <a href="#" class="btn btn-success alert-demo-4">Jefatura 1</a>
            </div>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-default btm-sm" style="width:165px">Fecha de Ingreso: </a>
              <a href="#" class="btn btn-success alert-demo-4">30/02/2017</a>
            </div>
            <div class="panel-body">
              <a  target="_blank" class="btn btn-default btm-sm"style="width:165px">Firma: </a>
              <a href="#" class="btn btn-success alert-demo-4">Abuelo</a>
            </div>
          </section> <!-- / section -->

          <!--section class="panel">
            <header class="panel-heading">
              <h4 class="panel-title">Sweet Alerts</h4>
            </header>
            <div class="panel-body">
              <a href="#" class="btn btn-primary alert-demo-6">Message</a>
              <a href="#" class="btn btn-primary alert-demo-7">2 line message</a>
              <a href="#" class="btn btn-success alert-demo-8">Success message</a>
              <a href="#" class="btn btn-primary alert-demo-9">Complex alert box</a>
              <a href="#" class="btn btn-primary alert-demo-10">Prompt</a>
            </div>
          </section--> <!-- / section -->



        </div> <!-- / col-md-12 -->

      </div> <!-- / row -->

    </div> <!-- / container-fluid -->

  <cm-footer></cm-footer>
</main>
<cm-scrolltop></cm-scrolltop>
