<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>

  <!--todo aqui-->
  <div class="container-fluid">
    <div class="row">
      <!-- Incio Cabecera: Titulo, id, numero, fecha -->
      <form action="" name="" id="">
        <div class="col-md-12">
          <h2> Crear expediente </h2>
          <div class="row">
            <section class="panel">
              <div class="panel-body">
                <div class="col-md-4">
                  <label> ID:</label>
                  <input name="id" class="form-inline"type="number" required>
                </div>

                <div class="col-md-4">
                  <label> Numero de folio:</label>
                  <input class="form-inline"type="number"  required>
                </div>

                <div class="col-md-4">
                  <label>Fecha de creacion:</label>
                  <input class="form-inline" type="date" value="{{fechaHoy}}"  required>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- Fin Cabecera -->

        <!--Inicio Tipo, Remitente, Firma, Enviar a -->
        <div class="col-md-12">
            <section class="panel">
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="panel-body">
                      <label for="">Tipo de expediente</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel-body">
                      <label for="">Remitente</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel-body">
                      <label for="">Firma</label>
                      <input class="form-control" type="text">
                    </div>
                  </div>
                </div>

            </section>
          </div>
      </form>
        <!-- Fin Tipo y demas -->
        <!-- Inicio Requisitos-->
      <form action="" name="" id="">
        <div class="col-md-12">
          <section class="panel">
            <div class="panel-body">
              <div class="col-md-8">
                <header class="panel-heading">
                  <h3 class="panel-tittle"> Requisitos </h3>
                </header>
                <div class="panel-body">
                  <div class="col-md-12">
                   <div class="table-responsive">
                     <table id="mytable" class="table table-striped" style="height: 280px; display: -moz-groupbox;">
                       <thead>
                         <tr style="width:100%; display: inline-table; height:60px; table-layout: fixed;">
                           <th class="col-md-6">Requisito</th>
                           <th class="col-md-3">Necesario</th>
                           <th class="col-md-3">Cumplido</th>
                         </tr>
                       </thead>
                       <tbody style="overflow-y: scroll; height: 250px; width: 100%; position: absolute;">
                         <tr style="width:100%; display: inline-table; height:60px; table-layout: fixed;">
                           <td class="col-md-6">Requisito 1</td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="1" style="display: none;">
                              <label for="1"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="2" style="display: none;">
                              <label for="2"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                         </tr>
                         <tr style="width:100%; display: inline-table; height:60px; table-layout: fixed;">
                           <td class="col-md-6">Requisito 2</td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="3" style="display: none;">
                              <label for="3"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="4" style="display: none;">
                              <label for="4"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                         </tr>
                         <tr style="width:100%; display: inline-table; height:60px; table-layout: fixed;">
                           <td class="col-md-6">Requisito 3</td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="5" style="display: none;">
                              <label for="5"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="6" style="display: none;">
                              <label for="6"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                         </tr>
                         <tr style="width:100%; display: inline-table; height:60px; table-layout: fixed;">
                           <td class="col-md-6">Requisito 4</td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="7" style="display: none;">
                              <label for="7"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                           <td class="col-md-3">
                             <div class="checkbox">
                              <input type="checkbox" value="" class="labelauty" id="8" style="display: none;">
                              <label for="8"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                             </div>
                           </td>
                         </tr>
                       </tbody>
                     </table>
                   </div>

                  </div>

                </div>
              </div>
              <div class="col-md-4">
                <header class="panel-heading">
                  <h3 class="panel-tittle"> Nuevo Requisito </h3>
                </header>
                <div class="panel-body">
                  <form action="">
                    <label for="">Descripcion:</label>
                    <input class="form-control"type="text">
                    <div class="checkbox">
                      <label>Cumple</label>
                     <input type="checkbox" value="" class="form-control labelauty" id="10" style="display: none;">
                     <label for="10"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                    </div>
                    <div class="col-xs-4">
                      <button class="btn btn-primary form-control">Crear</button>
                    </div>
                  </form>
                </div>

              </div>
            </div>
          </section>
        </div>
      </form>
        <!-- Fin requisitos-->
        <!-- Botones cancelar y aceptar -->
        <div class="col-md-12">
          <section class="panel">
            <div class="panel-body">
              <div class="col-md-4"></div>
              <div class="col-md-6">
                <div class="col-xs-6">
                  <button style="width: 100px" class="btn btn-primary">Crear</button>
                </div>
                <div class="col-xs-6">
                  <button style="width: 100px"class="btn btn-danger">Cancelar</button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- Fin botones -->
    </div>
  </div>


  <cm-footer></cm-footer>
</main>
<cm-scrolltop></cm-scrolltop>
