
<section id="page-title" class="row">
  <div class="col-md-8">
    <h1>Bandeja de Entrada</h1>
    <p class="lead">Tiene <span class="label label-warning">{{standby_metadata.total_records}}</span> expedientes pendientes, <span class="label label-danger">8</span> sin leer.</p>
  </div>
</section>
<div class="container-fluid white-bg">
  <div class="row">
    <aside class="col-md-2 fix-on-scroll">
      <ul class="nav nav-messages margin-bottom-30">
        <li><a href="/#!/home/entrada/1" class="active"><span class="badge pull-right">{{standby_metadata.total_records}}</span> Bandeja de entrada</a></li>
        <li><a href="/#!/home/transferidos/1" class=""><span class="badge pull-right">{{transferred_metadata.total_records}}</span> Transferidos</a></li>
        <li><a href="/#!/home/finalizados/1" class=""><span class="badge pull-right">{{finish_metadata.total_records}}</span> Finalizados</a></li>
      </ul>
    </aside>
    <div class="col-md-10">
      <div class="margin-bottom-15">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="ti-check-box"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><a href="#" class="checkbox-menu read">Leídos</a></li>
            <li><a href="#" class="checkbox-menu unread">No leídos</a></li>
          </ul>
        </div>
        <div class="pull-right">
          <span class="margin-right-15"><b>1</b>–<b>50</b> de <b>15,737</b></span>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary"><i class="ti-angle-left"></i></button>
            <button type="button" class="btn btn-primary"><i class="ti-angle-right"></i></button>
          </div>
        </div>
      </div>
      <table class="table messages-table table-hover">
        <tbody>
          <tr ng-repeat="record in records" ng-class="record.leido ? 'read' : 'unread'">
            <td class="inbox-exp from"><div><a ng-href="/detalle-expediente/{{record.id}}">{{record.enviado}}</a></div></td>
            <td class="inbox-exp subject hidden-xs"><div><span class="label label-danger"></span><a ng-href="/detalle-expediente/{{record.id}}">{{record.id}}</a></div></td>
            <td class="inbox-exp summary hidden-xs"><div><a ng-href="/detalle-expediente/{{record.id}}">{{record.observaciones}}</a></div></td>
            <td class="inbox-exp date-time text-right"><a ng-href="/detalle-expediente/{{record.id}}">{{record.fecha_envio}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
