
<div class='login-page'>

      <main class="login-container">

        <div class="panel-container">
          <section class="panel">
            <header class="panel-heading">
              <!--
              <img src="/src/img/logo.png" class="big-logo" alt="Alcantarillados y Drenajes Xela"-->
              <p>Drenajes y Alcantarillados Xela</p>
            </header>
            <div class="panel-body">
              <form ng-keypress="entrar($event)">
                <div class="form-group">
                  <label for="username">Nombre de Usuario</label>
                  <input ng-model="user" type="text" class="form-control" id="username" placeholder="Usuario">
                </div>

                <div class="form-group">
                  <label for="password">Contraseña</label> <!--<a href="recover.html" class="pull-right forgot-link"><small>¿Olvidó su contraseña?</small></a>-->
                  <input ng-model="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>


                  <div class="form-group text-center">
                    <a ng-click="logearse()" class="btn-login btn btn-primary">Entrar<i class="ti-unlock"></i><i class="ti-lock"></i></a>
                  </div>

                <!--hr>
                <div class="social-login">
                  <p class="text-center">Entrar con</p>
                  <p class="text-center"><a href="dashboard.html"><i class="ti-facebook"></i></a> <a href="dashboard.html"><i class="ti-google"></i></a> <a href="dashboard.html"><i class="ti-twitter"></i></a> </p>
                </div-->
              </form>
              <!-- <hr> -->
              <div class="register-now">
              <a>{{respuesta}}</a>
              </div>
            </div>
          </section>
        </div>
      </main> <!-- /playground -->

</div>
