<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>

  <!-- Contenido -->

  <section id="page-title" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 ">
      <h2>Modificación</h2>
    </div>

</section>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <section class="panel" align="center">
         <form action="" class="form-inline" type="" class="form-control" >
          <div class="panel-body">
            <div class="col-md-12">
                  <div class="col-xm-4 form-group">
                    <label class="" style="width: 130px;">Numero de folio:</label>
                    <input class="form-control" value="" style="width:100px;">
                  </div>
                  <div class="col-xm-4 form-group">
                    <label class="">ID:</label>
                    <input class="form-control" value="" style="width:100px;">
                  </div>
              </div>
              </div>
                <div class="panel-body">
                  <div class="col-md-12 form-group">
                      <label style="width: 130px;">Fecha de ingreso:</label>
                      <input type="text" class="form-control datepicker" data-date-format="mm/dd/yyyy" style="width:240px;">
                  </div>
                </div>
              <div class="panel-body">
                    <div class="col-md-12">
                      <label style="width: 130px;">Envia a:</label>
                      <select class="form-control" style="width:240px;">
                        <option>Jefatura</option>
                        <option>Jefatura 1</option>
                        <option>Jefatura 2</option>
                        <option>Jefatura 3</option>
                      </select>
                 </div>
              </div>
              <div class="panel-body">
                  <div class="col-md-12">
                    <label style="width: 130px;">Expediente:</label>
                    <select class="form-control" style="width:240px;">
                      <option>Tipo de expediente</option>
                      <option>Tipo 1</option>
                      <option>Tipo 2</option>
                    </select>
                 </div>
              </div>
              <div class="panel-body">
                <div class="col-xs-12 form-group">
                    <label style="width: 130px;">Remitente:</label>
                    <input type="text" class="form-control" style="width:240px;">
                </div>
              </div>
              <div class="panel-body">
                <div class="col-xs-12 form-group">
                    <label style="width: 130px;">Signatorio::</label>
                    <input type="text" class="form-control" style="width:240px;">
                </div>
              </div>
              <div class="panel-body">
                <div class="col-md-12 form-group" align="right">
                    <a class="btn btn-danger" style="width: 100px;">Cancelar</a>
                    <a class="btn btn-primary" style="width: 100px;">Aceptar</a>
                </div>
              </div>
            </form>
          </div>
        </section>

      </div> <!-- / col-md-12 -->

    </div> <!-- / row -->

  </div> <!-- / container-fluid -->

  <!-- Fin del contenido -->

<script src="../src/js/sugarrush.forms.js"></script>

  <cm-footer></cm-footer>
</main>
<cm-scrolltop></cm-scrolltop>
