<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>

  <!--Contenido-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2> Reportes </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="panel">
          <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="col-md-12">
                <header class="panel-heading">
                  <h3 class="panel-tittle">Fecha</h3>
                </header>
                <div class="panel-body">
                  <div class="col-md-6">
                    <label> Fecha inicio </label>
                    <input type="text" class="form-control datepicker" data-date-format="mm/dd/yyyy" style="width: 200px;">
                  </div>
                  <div class="col-md-6">
                    <label> Fecha fin </label>
                    <input type="text" class="form-control datepicker" data-date-formt="mm/dd/yyyy" style="width: 200px;">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <header class="panel-heading">
                  <h3 class="panel-tittle">Campos</h3>
                </header>
                <div class="panel-body">
                  <div class="col-md-6">
                    <div class="checkbox" style="height: 50px;">
                      <input type="checkbox" value="" class="labelauty" id="1" style="display: none;" checked>
                      <label for="1"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                      <label for="">Remitente</label>
                    </div>
                    <div class="checkbox" style="height:50px;">
                      <input type="checkbox" value="" class="labelauty" id="2" style="display: none;" checked>
                      <label for="2"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                      <label for="">Fecha de entrada</label>
                    </div>
                    <div class="checkbox" style="height: 50px;">
                      <input type="checkbox" value="" class="labelauty" id="3" style="display: none;" checked>
                      <label for="3"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                      <label for="">Folio</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="checkbox" style="height: 50px;">
                      <input type="checkbox"  value="" class="labelauty" id="4" style="display: none;" checked>
                      <label for="4"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                      <label for="">Tipo</label>
                    </div>
                    <div class="checkbox" style="height:50px;">
                      <input type="checkbox" value="" class="labelauty" id="5" style="display: none;" checked>
                      <label for="5"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                      <label for="">Completado</label>
                    </div>
                    <div class="checkbox" style="height: 50px;">
                      <input type="checkbox" value="" class="labelauty" id="6" style="display: none;" checked>
                      <label for="6"><span class="labelauty-unchecked-image"></span><span class="labelauty-checked-image"></span></label>
                      <label for="">Fecha de finalizacion</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <header class="panel-heading">
                  <h3 class="panel-tittle">Filtrado</h3>
                </header>
                <div class="panel-body">
                  <div class="col-md-6">
                    <label for="">Estado</label>
                    <select name="" id="" class="form-control">
                      <option value="">Todos</option>
                      <option value="">En espera</option>
                      <option value="">En proceso</option>
                      <option value="">Finalizado</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </section>
      </div>
      <div class="col-md-12">
        <section class="panel">
          <div class="panel-body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="col-md-4">
                <button class="btn btn-success" type="button" name="button">Exportar a Excel</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary" ype="button" name="button">Exportar a pdf</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-danger" ype="button" name="button">Cancelar</button>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </section>
      </div>
    </div>


<!--Contenido-->


  <cm-footer></cm-footer>
  <script src="/src/js/sugarrush.forms.js"></script>

</main>
<cm-scrolltop></cm-scrolltop>
