<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>

  <!-- PAGE TITLE -->
  <section id="page-title" class="row">

    <div class="col-md-8">
      <h1>Transferir</h1>
      <p class="lead">Expediente no. {{id_exp}}</p>
    </div>

    <div class="col-md-4">



    </div>
  </section> <!-- / PAGE TITLE -->

  <div class="container-fluid">


        <section class="panel">

          <div class="panel-body">

            <div class="form-group">
              <label>Para:</label>

              <select ng-model="enviado" class="form-control" >
                <!-- Jefaturas proximamente  -->
                <option ng-repeat="user in usuarios" value={{user.id}} data-left="<img src=''>" >{{user.rol + ': ' +user.usuario}}</option>

              </select>
            </div> <!-- / form-group -->

            <div class="form-group">
              <label for="simplecolor">Razon:</label>
              <input ng-model="razon" type="text" class="form-control" id="simplecolor" value="" />
            </div>  <!-- / form-group -->


            <div class="form-group">
              <label for="simplecolor">Observaciones:</label>
              <textarea ng-model="observacion" class="form-control" rows="10"></textarea>
            </div>  <!-- / form-group -->




            <!-- Attachments -->
            <div class="attachments">

            </div> <!-- / Attachments -->

            <!-- Action buttons -->
            <div class="row">
              <a href="#" class="btn btn-danger">Cancelar</a>
              <a ng-click="enviar()" class="btn btn-primary pull-right">Enviar</a>
            </div> <!-- / row Action buttons -->

          </div> <!-- / panel-body -->

        </section>

      </div> <!-- / col-md-10 -->
    </div> <!-- / row -->

  </div> <!-- / container-fluid -->

  <cm-footer></cm-footer>
  <script src="/src/js/sugarrush.forms.js"></script>

</main>
<cm-scrolltop></cm-scrolltop>
