<cm-sidebar></cm-sidebar>
<main id="playground">
  <cm-topnavigation></cm-topnavigation>

  <!-- PAGE TITLE -->
  <section id="page-title" class="row">

    <div class="col-md-8">
      <h1>Transferir</h1>
      <p class="lead">Expediente no. {{no_expediente}}</p>
    </div>

    <div class="col-md-4">



    </div>
  </section> <!-- / PAGE TITLE -->

  <div class="container-fluid">


        <section class="panel">

          <div class="panel-body">

            <div class="form-group">
              <label>Para:</label>

              <select class="multipleselect form-control" multiple>
                <!-- Jefaturas proximamente  -->
                <option value="BQ" data-subtitle="Administrator" data-left="<img src=''>" data-right="1">Bruno Q.</option>
                <option value="SA" data-subtitle="Administrator" data-left="<img src=''>" data-right="2">Silvina A.</option>
                <option value="JD" data-subtitle="User" data-left="<img src=''>" data-right="3">John Doe</option>
              </select>

            </div> <!-- / form-group -->

            <div class="form-group">
              <label for="simplecolor">Razon:</label>
              <input type="text" class="form-control" id="simplecolor" value="" />
            </div>  <!-- / form-group -->


            <div class="form-group">
              <label for="simplecolor">Observaciones:</label>
              <div class="wysiwyg-textarea"></div>
            </div>  <!-- / form-group -->




            <!-- Attachments -->
            <div class="attachments">

            </div> <!-- / Attachments -->

            <!-- Action buttons -->
            <div class="row">
              <a href="inbox.php" class="btn btn-danger">Cancelar</a>
              <a href="inbox.php" class="btn btn-primary pull-right">Enviar</a>
            </div> <!-- / row Action buttons -->

          </div> <!-- / panel-body -->

        </section>

      </div> <!-- / col-md-10 -->
    </div> <!-- / row -->

  </div> <!-- / container-fluid -->

  <cm-footer></cm-footer>
  <script src="/src/js/sugarrush.forms.js"></script>

</main>
<cm-scrolltop></cm-scrolltop>
